* {
    margin: 0;
}
.City {
    width: 30%;
    margin: 16px auto;
    padding-left: 16px;
    border: 2px solid black;
    text-align: left;
}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.Weather {
    margin: 20px auto;
}
p {
    margin: 10px auto;
}
